@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    height: 100vw;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), 
     rgba(0,0,0,0.1)), url('./images/book.png') no-repeat center;
    background-size: cover;
    background-position: center;
}

#gameBoard {
    padding: 0.5rem calc((100vw - 1200px) / 2);
    height: 100vw;
}

@media screen and (min-width: 1400px) {
    #gameBoard {
        padding-top: 16rem;
    }
}

@media screen and (max-width: 768px) {
    #canvasElement {
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width: 768px) {
    #canvasElement {
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width: 992px) {
    #canvasElement {
        width: 300px;
        height: 300px;
    }
}


#newgameBoard {
    padding: 48px;
}

#player1 h1 {
    color: red;
}

#player2 h1 {
    color: red;
}

#globalPts1 {
    color: red;
    font-size: 3rem;
}

#globalPts2 {
    color: red;
    font-size: 3rem;
}

#player1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current {
    background-color: rgb(182, 31, 31);
    width: 8rem;
    height: 8rem;
}

.current2 {
    background-color: rgb(182, 31, 31);
    width: 8rem;
    height: 8rem;
}

.current2 {

}

#currentScore1 {
    font-size: 2rem;
    color: white;
}

#currentScore2 {
    font-size: 2rem;
    color: white;
}